.invoice {
    margin-top: 20px;
    border-top: 1px solid #bdc3c7;
    padding-top: 20px;
    background-color: #fcfcfc;
    border-radius: 8px;
    padding: 20px;
  }
  
  .invoice h2,
  .invoice h3 {
    margin-top: 0;
    color: #2c3e50;
  }
  
  .invoice ul {
    list-style-type: none;
    padding: 0;
  }
  
  .invoice ul li {
    padding: 10px;
    border-bottom: 1px solid #bdc3c7;
  }
  
  .invoice h3 {
    margin: 0;
    color: #e67e22;
  }
  
  .invoice p {
    color: #27ae60;
  }
  